@tailwind base;
@tailwind components;
@tailwind utilities;







html {
  scroll-behavior: smooth;
}

body {
  color: #ededed;
  background: #121212;
  overflow-x: hidden;
}

.bricolage {
  font-family: var(--font-bricolage);
}

.rubik {
  font-family: var(--font-rubik);
}

.lexend {
  font-family: var(--font-lexend);
}



/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --scrollbar-track: rgb(47, 47, 47);
    --scrollbar-thumb: rgb(207, 207, 207);
    --scrollbar-thumb-gradient: linear-gradient(360deg,
        rgb(115, 115, 115) 0%,
        rgb(105, 105, 105) 47%,
        rgb(115, 115, 115) 100%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --scrollbar-track: rgb(201, 201, 201);
    --scrollbar-thumb: #ff9980;
    --scrollbar-thumb-gradient: linear-gradient(360deg,
        #ff9980 0%,
        #cb6d55 47%,
        #ff9980 100%);
  }
}

/* Apply Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  background: var(--scrollbar-thumb-gradient);
  border-radius: 10px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #333333 inset;
  -webkit-text-fill-color: #ededed;
  border: 2px solid #434343;
}

/* Ruby */
@layer base {
  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 99%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 12 75% 52%;
    --chart-2: 14 82% 60%;
    --chart-3: 15 84% 72%;
    --chart-4: 16 87% 82%;
    --chart-5: 17 100% 91%;
  }

  .light {
    --background: 36 39% 88%;
    --foreground: 36 45% 15%;
    --primary: 36 45% 70%;
    --primary-foreground: 36 45% 11%;
    --secondary: 40 35% 77%;
    --secondary-foreground: 36 45% 25%;
    --accent: 36 64% 57%;
    --accent-foreground: 36 72% 17%;
    --destructive: 0 84% 37%;
    --destructive-foreground: 0 0% 98%;
    --muted: 36 33% 75%;
    --muted-foreground: 36 45% 25%;
    --card: 36 46% 82%;
    --card-foreground: 36 45% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 36 45% 60%;
    --input: 36 45% 60%;
    --ring: 36 45% 30%;
    --chart-1: 25 34% 28%;
    --chart-2: 26 36% 34%;
    --chart-3: 28 40% 40%;
    --chart-4: 31 41% 48%;
    --chart-5: 35 43% 53%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.avatar-group {
  display: flex;
  overflow: hidden;
}

.avatar {
  position: relative;
  display: inline-flex;
}

.avatar-group :where(.avatar) {
  overflow: hidden;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: #121212;
}

@media only screen and (max-width: 800px) and (min-width: 0px) {
  .no_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no_scrollbar::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    overflow: auto;
  }

  /* Hide the scrollbar */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #ba3e1e;
}

.markdown_content a {
  text-decoration: underline;
  font-weight: 400;
}




@keyframes shimmerMove {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer path {
  animation: shimmerMove 2s infinite linear;
}

@media (prefers-color-scheme: dark) {
  .blog_content_renderer h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
  }

  .blog_content_renderer ol {
    padding-left: 25px;
  }

  .blog_content_renderer mark {
    color: white;
    background: rgb(255 87 51 / 0.5);
    padding-left: 5px;
    padding-right: 5px;
  }

  .blog_content_renderer {
    color: rgb(237 237 237 / 0.8);
  }
}

@media (prefers-color-scheme: light) {
  .blog_content_renderer h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.011em;
  }

  .blog_content_renderer p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
  }

  .blog_content_renderer ol {
    padding-left: 25px;
  }

  .blog_content_renderer mark {
    color: #3c402b;
    background: rgba(255, 245, 51, 0.5);
    padding-left: 5px;
    padding-right: 5px;
  }

  .blog_content_renderer {
    color: #3c402b;
  }
}

.mask_framer {
  background-color: transparent;
  background-image: radial-gradient(transparent 1px, rgb(15, 17, 21) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  opacity: 1;
}



.dark {
  .card-shard:after {
    content: "";
    height: 130px;
    width: 3px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent,
        #ff5733,
        transparent);
    opacity: 0;
  }

  .card-shard {
    border: 1px solid #363636;
  }
}

.light {
  .card-shard:after {
    content: "";
    height: 130px;
    width: 3px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent,
        #ff8266,
        transparent);
    opacity: 0;
  }

  .card-shard {
    border: 1px solid rgba(60, 64, 43, 0.4);
  }
}

.card-shard:after {
  top: 65%;
  opacity: 0;
}

.card-shard:hover:after {
  top: 25%;
  opacity: 1;
}

/* ---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}